
.container {
  max-width: 700px;
  margin: 40px auto;
  padding: 20px;
  background-color: #fefefe;
  border-radius: 12px;
  /* box-shadow: 0 4px 12px rgba(0,0,0,0.1); */
  font-family: Arial, sans-serif;
}

/* タイトル */
h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
  font-size:25px;
}

/* リスト */
/* .actor-list {
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 15px;
} */

/* リストアイテム */
/* .actor-item {
  background-color: #f9f9f9;
  padding: 15px 20px;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
  transition: transform 0.2s, background-color 0.2s;
} */

/* ヘッダー部分 */
/*  */
